flows.json
[{"type":"tab","id":"36de2e33.42d512","label":"new package"},{"id":"ddc872bc.02bb3","type":"function","z":"36de2e33.42d512","name":"The limiter","func":"if(msg.payload.value > 50){\n return 1;   \n} else {\n\n}","outputs":1,"noerr":0,"x":500,"y":282,"wires":[["7b5d7b9e.374004"]]},{"id":"7b5d7b9e.374004","type":"bulbsout","z":"36de2e33.42d512","name":"","subtype":"set-bulb-on","value":"","x":675,"y":293,"wires":[]},{"id":"bff13633.160928","type":"sensingkit","z":"36de2e33.42d512","name":"Light sensor","subtype":"sensingkit","sensor":"light","x":297,"y":286,"wires":[["ddc872bc.02bb3"]]}]